@media screen and (max-width:576px) {
.nav-hamburger-manu{
        display: block;
        color: white;
        width: 50px;
        height: 50px;
        
        
    }



.nav-options{
        display: none;
        
    }

.brand-name{
        margin-left: 20px;
    }
.header-title{
            font-weight: 900;
            font-size: 50px;
            line-height: 93px;
            color: white;  
        }
.nav-section{
    max-width: 100%;
    
}

        /* banner section start */

.span{
    font-family: "Allura", cursive;
    font-weight: 400;
    font-style: italic;
    font-size: 100px;
}


.banner-container{
        flex-direction: column;
        width: auto;
        max-height: 100%;
        margin: 0 auto;
        display: flex;
        

    }
.banner-content{
        width: 100%;
        height: 100%;
        margin: 0 auto;

        padding-left: 20px;
    }
.banner-model-img{
        width: 100%;
        margin-top: 100px;
       
       
    }
    .header-model-img{
        margin-left: 100px;
    }
    .card-1{
       
        left: 10%;
    
    }



    /* banner section end */


    /* habits section start */




.habits-photo-container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-width: 1060px;
    max-height: 1200px; 
}

.img-section{
    margin: 0 auto;
}

.h3-heading-title{
    font-size: 30px;
    font-weight: 900;
    color: rgba(255, 255, 255, 1);
}

.habits-title{
    height: 200px;
    width: 400px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
}

/* habits section end */




                    /* join now section start */
.join-now-container{
    max-width: 400px;
    height: 600px;
    margin: 0 auto;
    background-color: rgb(36, 36, 36);
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.text-content{
    width: 350px;
    height: 500px;
    align-items: center;
    text-align: center;
    margin: 20px;
}
.img-content{
    width: 320px;
    height: 250px;
    margin: 20px auto;
    border-radius: 18px;
}

.text-content{
    width: 300px;
    height: 290px;
    margin: 0 auto;
}

.btn-join-now {
    width: fixed 224px;
    height: fixed 54px;
    padding: 16px 40px 16px 40px;
    
    border-radius: 25px;
    opacity: 0px;
    background-color: rgba(230, 83, 60, 1);
    color: white;
    border: none;
    cursor: pointer;
   margin: 0 auto;
    
} 
.btn-container{
    margin: 40px auto;
    width: 140px;
}








                    /* join now section end */



                    /* bmi section start */

.bmi-calculator-title{
    width: 400px;
    height: 200px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bmi-container{
    width: 500px;
    max-height: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.calculate-your-bmi{
    max-width: 500px;
    height: 600px;  
}

.bmi-calculator-chart{
    width: 350px;
    height: 350px; 
    margin: 40px auto; 
}

.bmi-calculate-heading{
    text-align: center;
}

.bmi-description{
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.3px;
    color: rgba(255, 255, 255, 0.5);
    line-height: 24px;
    text-align: center;
}


.calculate-your-bmi{
    margin-left: 20px;
}


.Height{
    width: 220px;
    height: 40px;
    font-size: 18px;
    border-radius: 8px;
    border: none;
    padding-left: 15px;
    background-color: rgba(66, 66, 66, 0.788);
    font-weight: bold;
}

.Weight{
    width: 220px;
    height: 40px;
    font-size: 18px;
    border-radius: 8px;
    border: none;
    padding-left: 15px;
    background-color: rgba(66, 66, 66, 0.788);
    font-weight: bold;
    margin-left: 10px;
}

.age{
    width: 220px;
    height: 40px;
    font-size: 18px;
    border-radius: 8px;
    border: none;
    padding-left: 15px;
    background-color: rgba(66, 66, 66, 0.788);
    font-weight: bold;
    margin-top: 20px;  
}

.sex{
    width: 220px;
    height: 40px;
    font-size: 18px;
    border-radius: 8px;
    border: none;
    padding-left: 15px;
    background-color: rgba(66, 66, 66, 0.788);
    font-weight: bold;
    margin-left: 10px;
    color: rgb(184, 184, 184);
}   


.activity{
    width: 455px;
    height: 40px;
    font-size: 18px;
    border-radius: 8px;
    border: none;
    padding-left: 15px;
    background-color: rgba(66, 66, 66, 0.788);
    font-weight: bold;
    margin-top: 20px;
    color: rgb(184, 184, 184);
}



                    /* bmi section end */

                    /* meet our team section start */

.container{
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 2400px;
}

.photo-container{
    width: 400px;
    height: 400px;
    margin: 8px auto;
}

.meet-our-team-title{
    width: 400px;
   
}


                    /* meet our team section end */









                    /* footer section start */
.footer-container{
    width: 400px;
    max-height: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.information-container{
    width: 400px;
    height: 1200px;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    margin-bottom: 20px;
    flex-direction: column;
}

.all-right-container{
    max-width: 300px;
    max-height: 50px;
    margin: 20px auto;
}



.hr-section{
    width: 500px;
    height: 10px;
    margin: 0 auto;
}

                    /* footer section end */







}


